In [76]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import os
from IPython.display import HTML
from collections import Counter

import pandas as pd
import numpy as np
from tqdm import tqdm
import cv2
import matplotlib.pyplot as plt
from matplotlib import animation
import skvideo.io
from time import time

from cow_tus.analysis.visualizations.viewer import process_loop, process_loops, play

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Abnormal Example (4 label)

In [54]:
sample_dir = '/data/cow-tus-data/raw/exams/WT4484/'
configs = [
    {
        "size": (210, 280),
        "skip": 3
    }, 
]
np.prod(process_loops(sample_dir, size=config['size'], skip=config['skip']).shape)

100%|██████████| 8/8 [00:03<00:00,  2.33it/s]

8003072

In [ ]:
videos_4 = []
for config in configs:
    video = process_loops(sample_dir, size=config['size'], skip=config['skip'])
    videos_4.append(video)
    print('Shape:', video.shape)
    print('Total:', np.prod(video.shape))

In [ ]:
anim = play(videos_4[0])
HTML(anim.to_html5_video())

In [ ]:
anim = play(videos_4[1])
HTML(anim.to_html5_video())

## Normal Example (1 label)

In [55]:
sample_dir = '/data/cow-tus-data/raw/exams/OR3785/'

videos_1 = []
for config in configs:
    video = process_loops(sample_dir, size=config['size'], skip=config['skip'])
    videos_1.append(video)
    print('Shape:', video.shape)
    print('Total:', np.prod(video.shape))

100%|██████████| 8/8 [00:03<00:00,  2.34it/s]

Shape: (328, 210, 140)
Total: 9643200

In [66]:
anim = play(videos_1[0])
HTML(anim.to_html5_video())

In [ ]:
anim = play(videos_1[1])
HTML(anim.to_html5_video())

## Middle Example (2 label)

In [ ]:
sample_dir = '/data/cow-tus-data/raw/exams/TN4236/'
videos_2 = []
for config in configs:
    video = process_loops(sample_dir, size=config['size'], skip=config['skip'])
    videos_2.append(video)”
    print('Shape:', video.shape)
    print('Total:', np.prod(video.shape))

In [ ]:
anim = play(videos_2[0])
HTML(anim.to_html5_video())

In [ ]:
anim = play(videos_2[1])
HTML(anim.to_html5_video())

In [10]:
data_dir = '/data/cow-tus-data/raw/'
# for sample_dir in tqdm(os.listdir(data_dir)):
#     sample = os.listdir(os.path.join(data_dir, sample_dir))[0]
#     video = process_loop(os.path.join(data_dir, sample_dir, sample))
#     shapes.append(os.path.join(data_dir, sample_dir, sample))
#     print(video.shape)

In [39]:
patient_df = pd.read_csv(os.path.join(data_dir, 'labels.csv'))

In [21]:
len(patient_df['Animal Number'].unique())

86

In [32]:
len(patient_df['Tag Color'].unique())

10

In [23]:
len(patient_df)

89

In [31]:
patient_df.loc[patient_df['Animal Number'] == 4493]

   Tag Color  Animal Number    ID # Date enrolled TUS score Comments
52        WT           4493  WT4493    2015-07-20         4      NaN
55        GN           4493  GN4493    2015-07-21         2      NaN

In [81]:
# t = time()
# exam_dir = '/data/cow-tus-data/raw/exams/OR3785/'
# video = skvideo.io.vread(os.path.join(exam_dir, '3785L7.AVI'))
# d, h, w, c = video.shape
# print(video.shape)
# out = np.zeros((d, h, w))
# for i, frame in enumerate(video):
#     out[i] = cv2.cvtColor(frame, cv2.COLOR_RGB2GRAY)
# print(t - time())
# anim = play(out)
# HTML(anim.to_html5_video())

In [82]:
# t = time()
# exam_dir = '/data/cow-tus-data/raw/exams/OR3785/'
# video = skvideo.io.vread(os.path.join(exam_dir, '3785L7.AVI'))
# video = video[:, :, :, 0]
# print(t - time())
# anim = play(video)
# HTML(anim.to_html5_video())